// colors
$primary: #458ff6;
$primary-light: #67c3f3;
$primary-dark: #5a98f2;
$light-1: #7d7987;
$light-2: #dadada;
$white: #fff;

// font
$font-family-base: 'Muli', sans-serif;

// background gradient
$bg-gradient: linear-gradient(
	180.98deg,
	$primary-light -8.57%,
	$primary-dark 82.96%
);

// Breakpoint variable
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$huge: 1800px;
