.header,
.services,
.more-info,
.our-app,
.contact,
.blog {
	margin-bottom: 6.25rem;
}

.services {
	p.section__text {
		margin: 1.8rem 0 3.75rem 0;
	}
}

.more-info,
.our-app {
	p.section__text {
		margin: 1.5rem 0 2.5rem 0;
	}
}

.contact,
.blog {
	h2.section__heading {
		margin-bottom: 3rem;
	}
}
