.header,
.services,
.more-info,
.our-app,
.contact,
.blog,
.testimonials {
	margin-bottom: 9rem;

	@include respond(x-large) {
		margin-bottom: 12.5rem;
	}
}

.services {
	p.section__text {
		margin: 1.8rem 0 3.75rem 0;
	}
}

.more-info,
.our-app {
	p.section__text {
		margin: 1.5rem 0 2.5rem 0;
	}
}

.contact,
.blog,
.testimonials {
	h2.section__heading {
		margin-bottom: 3rem;
	}
}

.testimonials {
	padding: 3.75rem 0;
	background: $bg-gradient;
	color: $white;
	max-width: 71.25rem;
	margin-left: auto;
	margin-right: auto;

	@include respond(x-large) {
		border-radius: 1.5rem;
	}
}
